* {
    margin: 0;
    padding: 0;
    border: 0;
}


html {
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color : black;
    margin: 0;
    padding:0;
    border:0;
}
nav {
    display : flex;
    position : fixed;
    flex-direction : row;
    justify-content: space-around;
    align-items : center;
    width : 100%;
    height: 50px ;
    background-color: red
}

a {
    text-decoration : none; 
}

main {
    display : grid;
    grid-template-columns : [c1] 5% [c2] 30% [c3] 15% [c4] 15% [c5] 30% [c6] 5%;
    grid-template-rows: [r1] 4% [r2] 29% [r3] 16% [r4] 16% [r5] 16% [r6] 16%; 
    background-color : blue;
    max-width : 1000px;
    height : 1800px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 0;
    padding: 0;
    border: 0;
   
    
}
#about {
    grid-column-start: c2;
    grid-column-end: c4;
    grid-row-start: r2;
    grid-row-end: r3;
}

h1 {
    color : red;
    padding: 30px
}

h3 {
    color : lightblue;
}

#services {
    grid-column-start: c2;
    grid-column-end: c4;
    grid-row-start: r3;
    grid-row-end: r4;   
}

#profile-photo {
    grid-column-start: c4;
    grid-column-end: c6;
    grid-row-start: r2;
    grid-row-end: r3;
    border-radius : 30%;
    width : 60%;
    height : auto;
    border : 20px solid orange;
    padding : 20px; 
    margin-right: 30px;
    margin-left : 30px;
    margin-top : 20px;
}

#profile-photo:hover {
    width: 85%;
    grid-column-start: c3;
    grid-column-end: c6;
    grid-row-start: r2;
    grid-row-end: r3;

}

#contact {
    grid-column-start: c4;
    grid-column-end: c6;
    grid-row-start: r3;
    grid-row-end: r4;

}

#phone {
    color : indigo;
}

h1:hover {
    font-size : 50pt;
}


.galleryphoto {
    width : 80%;
    height : auto;
    margin : auto;
}

#galleryphoto1 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r4;
    grid-row-end: r5;
}
#galleryphoto2 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r5;
    grid-row-end: r6;
}
#galleryphoto3 {
    grid-column-start: c2;
    grid-column-end: c3;
    grid-row-start: r6;
    grid-row-end: r7;
}
#galleryphoto4 {
    grid-column-start: c3;
    grid-column-end: c5;
    grid-row-start: r4;
    grid-row-end: r5;
}
#galleryphoto5 {
    grid-column-start: c3;
    grid-column-end: c5;
    grid-row-start: r5;
    grid-row-end: r6;
}
#galleryphoto6 {
    grid-column-start: c3;
    grid-column-end: c5;
    grid-row-start: r6;
    grid-row-end: r7;
}
#galleryphoto7 {
    grid-column-start: c5;
    grid-column-end: c6;
    grid-row-start: r4;
    grid-row-end: r5;
}
#galleryphoto8 {
    grid-column-start: c5;
    grid-column-end: c6;
    grid-row-start: r5;
    grid-row-end: r6;
}
#galleryphoto9 {
    grid-column-start: c5;
    grid-column-end: c6;
    grid-row-start: r6;
    grid-row-end: r7;
}

#gallery {
    grid-column-start: c7;
    grid-column-end: c8;
    grid-row-start: r6;
    grid-row-end: r7;
}

#footer {
    display : flex;
    grid-column-start: c7;
    grid-column-end: c8;
    grid-row-start: r6;
    grid-row-end: r7;
    margin : none;
    position : sticky;
    list-style-type : none;
    justify-content: space-around;
    align-items : center;
    width : 100%;
    height: 30px ;
    background-color: red;
    text-decoration: none;
    padding : 0;
    border : 0;
   
}


@media (max-width: 520px) {

/*/
    * {
        margin : 0;
        padding : 0;
        border : 0;
    }


    html {
        height : auto;
        width : 520px;
        margin : 0;
        padding : 0;
        border : 0;
    }

    nav {
        font-size : 10px;
    }

    body {
        
        width : 520px;
        font-Size : 20px;
        margin : 0;
        padding : 0;
        border : 0;
        
    }

    main {    
        background : pink;
        width : 520px;
        padding : 0;
        border : 0;
        
    }
/*/
    #profile-photo {
        width : 80%;
        height: auto;
        margin : none;
        border : none;
        padding: none;
    }

    #profile-photo:hover {
        width: 100%;
        grid-column-start: c2;
        

}
/*/